@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.tag {
    @include label-mobile(outfit);
    color: $black;
    background-color: $pistachio;
    padding: 0.375rem 0.5rem;
    border: 1px solid $sea-green;
    border-radius: 0.4rem;

    @include table-and-desktop {
        @include label(outfit);
        padding: 0.5rem 0.75rem;
        border-radius: 0.75rem;
    }


    @include mouse-hover {
        background-color: $sea-green;
    }

    &--clickable {
        border-color: $forest-green;

        @include mouse-hover {
            background-color: $forest-green;
            color: $white;
        }
    }

    &--margin-right {
        margin-right: 0.5rem;
    }
}