@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.large-image-card {
    border: 1px solid $sea-green;
    border-radius: 0.5rem;
    overflow: hidden;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 2rem;

    @include table-and-desktop {
        border-radius: 0.75rem;
    }

    &__image-container {
        position: relative;
        box-sizing: content-box;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    
    &__tags {
        background-color: $sage;
        padding: 0.5rem;
        
        @include table-and-desktop {
            padding: 1rem;
        }
    }

    &__image-data {
        background-color: $sage;
    }

    &__like-button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        padding-right: 0.5rem;
    }

    &__like-count {
        @include label-mobile("outfit");

        @include table-and-desktop {
            @include label("outfit");
        }
    }

    &__likes {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__author-desktop-tablet {
        display: none;

        @include table-and-desktop {
            display: block;
            @include label("outfit");
        }
    }

    &__date {
        @include label-mobile("outfit");

        @include table-and-desktop {
            @include label("outfit");
        }
    }

    &__desktop-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__author {
        display: block;
        padding-top: 0.5rem;
        @include label-mobile("outfit");

        @include table-and-desktop {
            display: none;
        }
    }

    &__image-data {
        padding: 0.5rem;
        padding-bottom: 1rem;

        @include table-and-desktop {
            padding: 1rem;
            padding-bottom: 2rem;
        }
    }
}