@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.image-page {
    @include site-left-right-padding;
    background-color: $pistachio;
    box-sizing: border-box;
    overflow: hidden;
}