@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.image-page {
    background-color: $pistachio;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;

    @include table-and-desktop {
        margin-bottom: 0;
    }

    &__container {
        @include site-left-right-padding;

        @include desktop {
            width: 50%;
        }
    }

    &__comments-title {
        @include heading-mobile("outfit");

        @include table-and-desktop {
            @include heading("outfit");
        }
    }
}