@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.tags {
    background-color: $sage;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include site-left-right-padding;

    @include table {
        padding-bottom: 4rem;
    }

    @include table-and-desktop {
        padding-top: 2rem;
    }

    @include desktop {
        min-width: 20%;
        max-width: 20%;
    }

    &--display {
        display: none;
    }

    &__title {
        margin-bottom: 1rem;
        @include heading-mobile("outfit");
        @include no-margin-padding;
        
        @include table-and-desktop {
            margin-bottom: 2rem;
            @include heading("outfit");
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
}