@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.tags {
    @include site-left-right-padding;
    background-color: $sage;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include table {
        padding-bottom: 4rem;
    }


    @include table-and-desktop {
        padding-top: 2rem;
    }

    @include desktop {
        min-width: 20%;
    }

    &__title {
        @include heading-mobile("outfit");
        @include no-margin-padding;
        margin-bottom: 1rem;
        
        @include table-and-desktop {
            @include heading("outfit");
            margin-bottom: 2rem;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
}