@use './variables.scss' as *;
@use './mixins.scss' as *;

%remove-link-formate {
    text-decoration: none;
    color: inherit;
}

%remove-list-style {
    list-style: none;
}

body {
    @include no-margin-padding;
}

Link {
    @extend %remove-link-formate;
}

a {
    @extend %remove-link-formate;
}

ul {
    @extend %remove-list-style;
}