// Font family 'newsreader'.

@font-face {
    font-family: 'newsreader';
    src: url('../../assets/fonts/Newsreader-Regular.woff'),
         url('../../assets/fonts/alternative/Newsreader-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'newsreader-light';
    src: url('../../assets/fonts/Newsreader-Light.woff'),
         url('../../assets/fonts/alternative/Newsreader-Light.woff2');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'newsreader-light-italic';
    src: url('../../assets/fonts/Newsreader-LightItalic.woff'),
         url('../../assets/fonts/alternative/Newsreader-LightItalic.woff2');
    font-weight: 300;
    font-style: italic;
}

// Font family 'outfit'.

@font-face {
    font-family: 'outfit';
    src: url('../../assets/fonts/Outfit-Medium.woff'),
         url('../../assets/fonts/alternative/Outfit-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'outfit-light';
    src: url('../../assets/fonts/Outfit-Light.woff'),
         url('../../assets/fonts/alternative/Outfit-Light.woff2');
    font-weight: 300;
    font-style: light;
}