// Colors

$black: #0C1E1A;
$forest-green: #1E6655;
$pistachio: #EFFAF7;
$sea-green: #B7CEC9;
$sage: #E4EFEC;
$white: #FFFFFF;

// Screen brake points. 

$tablet-min-width: 768px;
$tablet-max-width: 1279px;
$desktop-min-width: 1280px;