@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.hero {
    background-color: $pistachio;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include site-left-right-padding;

    @include table-and-desktop {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__title {
        display: flex;
        margin-bottom: 1rem;
        @include body-copy-mobile("outfit-light", 300);

        @include table-and-desktop {
            margin-bottom: 2rem;
            @include body-copy("outfit-light", 300);
        }
    }

    &__description {
        @include no-margin-padding;
        @include title-mobile("newsreader-light");
        
        @include table-and-desktop {
            @include title("newsreader-light");
        }

        @include table {
            width: 95%;
        }

        @include desktop {
            width: 50%;
        }

        &--filter-displayed {
            @include desktop {
                width: 60%;
            }
        }

        &--italic {
            @include no-margin-padding;
            @include title-mobile("newsreader-light-italic");
    
            @include table-and-desktop {
                @include title("newsreader-light-italic");
            }
        }
    }
}