@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.header {
    background-color: $pistachio;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding-sides-mobile;
    padding-right: $padding-sides-mobile;
    padding-top: 1.15rem;
    // padding-bottom: 1rem;

    @include table-and-desktop {
        padding-left: $padding-sides;
        padding-right: $padding-sides;
        padding-top: 2.25rem;
        // padding-bottom: 2rem;
    }
}

.site-logo {
    @include no-margin-padding;

    &__link {
        @extend %remove-link-formate;
        @include title-mobile;

        @include table-and-desktop {
            @include title;
        }
    }
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    background-color: $pistachio;
    border-color: $forest-green;
    border-style: solid;
    border-width: 0.125rem;
    color: $forest-green;

    @include table-and-desktop {
        padding: 0.6875rem 1.375rem;
    }

    &__text {
        @include body-copy-mobile("outfit-light");
        margin-right: 0.5rem;

        @include table-and-desktop {
            @include body-copy("outfit-light");
        }
    }
}