@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.header {
    background-color: $pistachio;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.15rem;
    padding-bottom: 2rem;
    @include site-left-right-padding;

    @include table-and-desktop {
        padding-top: 2.25rem;
        padding-bottom: 2rem;
    }
}