@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.footer {
    background-color: $pistachio;
    padding-bottom: 2rem;
    @include site-left-right-padding;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: start;

        @include table-and-desktop {
            padding-top: 4rem;
            flex-direction: row;
            justify-content: space-between;
            height: 20rem;
        }
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        width: 40%;
        max-width: 40rem;

        @include table-and-desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: first baseline;
        }
    }

    &__links-container {
        margin-bottom: 0.5rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        @include body-copy-mobile("outfit");

        @include table-and-desktop {
            margin-bottom: 1rem;
            @include body-copy("outfit");
        }
    }

    &__social--desktop.social {
        margin-bottom: 1rem;

        @include mobile-and-table {
            display: none;
        }

    }

    &__social--mobile-tablet.social {
        margin-bottom: 1rem;

        @include desktop {
            display: none;
        }
    }
}