@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.service-terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    color: $black;
    opacity: 0.5; 
    @include small-body-copy-mobile("outfit");

    @include table-and-desktop {
        @include small-body-copy("outfit");
    }
}